/* --------------------- *\
    Globel
\* --------------------- */

*{
    position: relative;
    box-sizing: border-box;
}

/* --------------------- *\
    Layout
\* --------------------- */
.container{
    display: block;
    width: 992px;
    margin: 0 auto;
    border: 1px solid #000;
    height: 100%;
}
.container-fluid{
    display: block;
    border: 1px solid #000;
    width: 100%;
    height: 100%;
}
.row{
    border: 1px solid #000;
    margin: 0 -16px;
}
.row:after{
    content: '';
    display: block;
    clear: both;
}
.col-1-2, .col-1-3{
    float: left;
    border: 1px solid #000;
    padding: 0 16px;
}
.col-1-2{
    width: 50%;
}
.col-1-3{
    width: 33.3333333%;
}
.row2{
    border: 1px solid #000;
}
.row2:after{
    content: '';
    display: block;
    clear: both;
}

/* --------------------- *\
Component
\* --------------------- */

/* navbar */
.navbar{
    height: 64px;
    border: 1px solid #000;
    background-color: #ccc;
    position: fixed;
    z-index: 999;
    width: 100%;
} 
/* jumbotron */
.jumbotron{
    border: 1px solid #000;
    height: 640px;
    background-color: #7d7dc5;
}
/* hero */
.hero{
    padding-top: 80px;
    padding-bottom: 80px;
    border: 1px solid #000;
}
.cmpt-1{
    margin-bottom: 80px;

}
.cmpt-3 .col-1-3{
    padding: 0 0;
}
.cmpt-4{
    padding-bottom: 80px;
}
.card{
    border: 1px solid #000;
    background-color: #a5e2ff;
    height: 480px;
}
.card3-1{
    border: 1px solid #000;
    background-color: #f47cce;
    height: 300px;
}
.card3-2{
    border: 1px solid #000;
    background-color: #7d7dc5;
    height: 300px;
}
.card3-3{
    border: 1px solid #000;
    background-color: #77c3f6;
    height: 300px;
}
.card4-1{
    border: 1px solid #000;
    background-color: #77c3f6;
    height: 400px;
}
.card4-2{
    border: 1px solid #000;
    background-color: #7d7dc5;
    height: 200px;
}
.card5-2{
    border: 1px solid #000;
    background-color: #f47cce;
    height: 300px;
}
.footer{
    border: 1px solid #000;
    background-color: #7d7dc5;
    height: 160px;
}