*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /* border: 1px solid #000; */
}
a{
    text-decoration: none;
    color: #000;
}
/* 讓高度滿版 */
html,body{
    height: 100%;
}
h1,h2,p{
    margin: 0;
}
/* 背景容器 */
.warpper{
    height: 100%;
    background-color: #ccc;
    background: linear-gradient(#EF9FBF,#f9ded7);
    overflow: hidden;
}
/* Product set */
.product{
    height: 540px;
    width: 800px;
    background-color: white;
    box-shadow: 0 20px 80px 0 rgba(0,0,0,0.5);
    /* display margin置中 
    1,set width 2,display:block 3,margin水平auto*/
    display: block;
    margin-left: auto ;
    margin-right: auto;
    margin-top: 60px;
    padding: 16px;
    border-radius: 4px;
}
.product .info{
    width: 50%;
    height: 100%;
    display: inline-block;
    background-color: #fff;
    vertical-align: top;
    padding: 64px 56px;
    background-color: #f5f5f5;
    /* margin: 10px; */
}
.product .image{
    width: 50%;
    height: 100%;
    vertical-align: top;
    display: inline-block;
    overflow: hidden;
}
.product .image img{
    height: 100%;
    display:  block;
}
.product .name{
    font-size: 100px;
    font-weight: 350;
    color: #444;
    white-space: nowrap;
    margin-bottom: 16px;
    text-shadow: 0 48px 10px rgba(0,0,0,0.05);
    /* 定位 層級設定 */
    position: relative;
    z-index: 10;
}

.product .price{
    font-size: 48px;
    font-weight: 350;
    color: #EA4C73;
    margin-bottom: 16px;
}
.product .description{
    font-size: 12px;
    line-height: 24px;
    font-weight: 100;
    color: #666;
    margin-bottom: 16px;
}
.product .btn{
    display: inline-block;
    padding: 12px 40px;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    letter-spacing: 8px;
    font-weight: 100;
    box-shadow: 0 8px 40px 0 rgba(0,0,0,0.5);
    background: #fcfcfc;
background: linear-gradient(212deg, rgba(252, 252, 252, 1) 0%, rgba(252, 111, 111, 1) 25%, rgba(252, 111, 111, 0.88) 73%, rgba(252, 252, 252, 0.87) 100%);;
}