/* ----------------------------- *\
    Golbel
\* ----------------------------- */

*{
    box-sizing: border-box;
    position: relative;
}

/* ----------------------------- *\
    Layout
\* ----------------------------- */

.container{
    /* border: 1px solid #000; */
    margin: 0 auto;
    width: 960px;
}

/* Inline-block */
.row{
    border: 1px solid #000;
    /* height: 500px; */
    background-color: #aacbff; 
}
.col{
    border: 1px solid #fff;
    width: 33.333333%;
    /* height: 400px; */
    background-color: #2f66bc;
    display: inline-block;
    vertical-align: top;
    padding: 0 16px;
}

/* Float */
.float-row{
    border: 1px solid blue;
    background-color: #aacbff;
}
.float-row:after{
    content: '';
    display: block;
    clear: both;
}
.float-col{
    width: 33.333333%;
    border: 1px solid #fff;
    background-color: #2f66bc;
    padding: 0 16px;
    float: left;
}

/* Flex */
.flex-row{
    border: 1px solid blue;
    background-color: #aacbff;  
    display: flex;
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */

}
.flex-col{
    border: 1px solid #fff;
    background-color: #2f66bc;
    /* width: 200px; */
    padding: 0 16px;
}

.flex-col-1{
    /* width: 200px; */
    flex: 1;
}
.flex-col-2{
    flex: 2;
}
.flex-col-3{
    flex: 1;
}

/* ----------------------------- *\
Component
\* ----------------------------- */

/* card */
.card{
    height: 300px;
    width: 100%;
    background-color:  pink;
}
.footer{
    height: 100px;
    background-color: #333;
}